body {
    background: #eeeeee;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    
}

.main_header {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #777777;
    padding-top: 20px;

    
}

.logo {
    background: #4aaaa5;
    width: 20%;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-size: 30px;
    margin-left: 80px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    position: relative;
    left: 110px;
}

ul {
    list-style-type: none;
    float: right;
    position: relative;
    bottom: 50px;
    right: 280px;
    clear: both;
    margin-right: 10%;
    padding-top: 5px;
    text-decoration: none;
    
}

li {
    display: inline;
    padding: 10px;
    color: #777777;
    text-decoration: none;

}

.content {

    margin-left: 10%;
    margin-right: 40%;
    padding: 20px;
    background: #ffffff;
    color: #777777;
    position: relative;
    top: 30px;
    float: left;
    
}


.header {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 10px;
    border-bottom: 2px solid #777777;
}

.me_photo {
    height: 200px;
    width: 200px;
    margin: 30px 20px 20px 10px;
    float: left;
    clear: both;
}

p {
    color: #777777;
    line-height: 200%;
    padding-top: 30px;
}

#aside {
    float: right;
    background: #ffffff;
    position: relative;
    bottom: 484px;
    right: 460px;
    width: 220px;
    height: 110px;
    padding: 20px;
    color: #4aaaa5;
    text-align: center;
    font-size: 25px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    clear:both;
}

.border {
    border-bottom: 2px solid #777777;
    padding-bottom: 8px;
}

.icons {
    height: 60px;
    width: 60px;
    margin: 1px;
    display: inline-block;
    padding-top: 15px;
}

footer {
    background: #666666;
    color: #777777;
    text-align: center;
    padding: 30px;
    clear: both;
    border-top: 10px solid #4aaaa5;
    position: relative;
}

#aside{
  
    background: #ffffff;
    color: #4aaaa5;
    text-align: center;
    font-size: 25px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    clear:both;
    width: 250px;
    height: 120px;
    position: relative;
    bottom: 483px;
    right:430px;
    padding-top: 20px;
}

.contact_content {
    
    background-color: #ffffff;
    padding: 20px;
    width: 918px;
    position: relative;
    left:190px;
    top: 50px;
    color:#777777;
}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #777777;
    
}

input[type=submit] {
    width: 12%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
 
    
}

textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#contact_aside{
  
    background: #ffffff;
    color: #4aaaa5;
    text-align: center;
    font-size: 25px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    clear:both;
    width: 250px;
    height: 120px;
    float: right;
    position:relative;
    bottom: 467px;
    right: 430px;
    padding: 20px;
}

.p_header {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    border-bottom: 2px solid #777777;
    background: #ffffff;
}

.ul_images {
    padding:50px;

}


.p_content {
    
    background-color: #ffffff;
    position: relative;
    width: 918px;
    height:870px;
    left:190px;
    top:50px;
    padding:20px;


}

#p_aside {
    background: #ffffff;
    color: #4aaaa5;
    text-align: center;
    font-size: 25px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    clear:both;
    width: 250px;
    height: 120px;
    float: right;
    position:relative;
    bottom: 1502px;
    left:356px;
    padding: 20px;


}

.container1 {
    position:relative;
    display: inline;
    left: 40px;

}

.container2 {
    position:relative;
    display: inline;
    left:580px;
    bottom: 275px;

}

.container3 {
    position:relative;
    display: inline;
    bottom: 300px;
    left:40px;

}

.container4 {
    position:relative;
    display: inline;
    bottom:581px;
    left:580px;

}
.container5 {
    position:relative;
    display:inline;
    bottom:600px;
    left:42px;


}

.p_header {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #777777;
    padding-top: 20px;
    position: relative;
    right:20px;
    
}

.image1, .image2, .image3, .image4, .image5  {
    width: 250px;
    height:190px;

}

.image1 {
    padding-top:40px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;

}

.image2 {
    padding-top:40px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;

}

.image3 {
    padding-top:40px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;

}


.image4 {
    padding-top:40px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;

}

.image5 {
    padding-top:40px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;


}

.img_title {
   position:relative;
   bottom: 60px;
   left:20px;
   width: 240px;
   background: #4aaaa5;
   color:#ffffff; 
   font-size: 18px;
   text-align: center;
   font-family: 'Georgia', Times, 'Times New Roman', serif;
   padding: 5px;
}






/*.images {
  float: left;
  margin: 10px;
  display: inline;
  position: relative;
  right:200px;
  top: 100px;
}

h2 { 
   width: 100%;
   background: #4aaaa5;
   color:#ffffff; 
   font-size: 18px;
   text-align: center;
   font-family: 'Georgia', Times, 'Times New Roman', serif;
   padding: 5px;
}
*/



/*#images { 
   position: relative; 
   width: 240px;
   height:180px;
   float:left;

}

h2 { 
   width: 40%;
   background: #4aaaa5;
   color:#ffffff; 
   font-size: 20px;
   text-align: center;
   font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.image1 {
    float:left;
    position: relative;
    display:inline-block;

}


.image2 {
    float:left;
}

.image3 {
    float: left;
}

*/









